<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>GetRegisteredAdvisorsServlet</servlet-name>
  	<display-name>GetRegisteredAdvisorsServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.GetRegisteredAdvisorsServlet</servlet-class>
  	<!-- <load-on-startup>0</load-on-startup> -->
  </servlet>
  
  
  <servlet>
  	<servlet-name>AdvisorRegistrationServlet</servlet-name>
  	<display-name>AdvisorRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.AdvisorRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClientRegistrationServlet</servlet-name>
  	<display-name>ClientRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.ClientRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetReviewsAndRatingServlet</servlet-name>
  	<display-name>GetReviewsAndRatingServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.GetReviewsAndRatingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetRegisteredAdvisorsByLocationServlet</servlet-name>
  	<display-name>GetRegisteredAdvisorsByLocationServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.GetRegisteredAdvisorsByLocationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateUserServlet</servlet-name>
  	<display-name>AuthenticateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.AuthenticateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RateAndReviewServlet</servlet-name>
  	<display-name>RateAndReviewServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.RateAndReviewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<display-name>UserLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOutServlet</servlet-name>
  	<display-name>SignOutServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserSignOutServlet</servlet-name>
  	<display-name>UserSignOutServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.UserSignOutServlet</servlet-class>
  </servlet>
  <!-- <servlet>
  	<servlet-name>ValidateUserLoginServlet</servlet-name>
  	<display-name>ValidateUserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.kasi.rrrf.servlet.ValidateUserLoginServlet</servlet-class>
  </servlet> -->
  
  <servlet-mapping>
  	<servlet-name>AdvisorRegistrationServlet</servlet-name>
  	<url-pattern>/AdvisorRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClientRegistrationServlet</servlet-name>
  	<url-pattern>/ClientRegiionServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetRegisteredAdvisorsServlet</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>GetReviewsAndRatingServlet</servlet-name>
  	<url-pattern>/GetReviewsAndRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetRegisteredAdvisorsByLocationServlet</servlet-name>
  	<url-pattern>/GetRegisteredAdvisorsByLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateUserServlet</servlet-name>
  	<url-pattern>/AuthenticateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RateAndReviewServlet</servlet-name>
  	<url-pattern>/RateAndReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserSignOutServlet</servlet-name>
  	<url-pattern>/UserSignOutServlet</url-pattern>
  </servlet-mapping>
  
  <!-- <servlet-mapping>
  	<servlet-name>ValidateUserLoginServlet</servlet-name>
  	<url-pattern>/ValidateUserLoginServlet</url-pattern>
  </servlet-mapping> -->
  
  <!-- <welcome-file-list>
	<welcome-file>index2.jsp</welcome-file> 
</welcome-file-list> -->
</web-app>
